In [1]:
import numpy as np
import pandas as pd

In [2]:
from pathlib import Path

path = Path().joinpath("..", "data", "amazon-sales.csv")
products = pd.read_csv(path)
products.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1569 entries, 0 to 1568
Data columns (total 11 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Unnamed: 0        1569 non-null   int64
 1   product_id        1569 non-null   object
 2   product_name      1569 non-null   object
 3   category          1559 non-null   object
 4   discounted_price  1556 non-null   object
 5   actual_price      1561 non-null   object
 6   rating            1552 non-null   float64
 7   rating_count      1566 non-null   float64
 8   about_product     1569 non-null   object
 9   img_link          1569 non-null   object
 10  product_link      1569 non-null   object
dtypes: float64(2), int64(1), object(8)
memory usage: 135.0+ KB

In [3]:
products.head()

,Unnamed: 0,product_id,product_name,category,discounted_price,actual_price,rating,rating_count,about_product,img_link,product_link
0,0,B07JW9H4J1,Wayona Nylon Braided USB to Lightning Fast Cha...,Computers&Accessories,₹399,"₹1,099",4.2,24269.0,High Compatibility : Compatible With iPhone 12...,https://m.media-amazon.com/images/W/WEBP_40237...,https://www.amazon.in/Wayona-Braided-WN3LG1-Sy...
1,1,B098NS6PVG,Ambrane Unbreakable 60W / 3A Fast Charging 1.5...,Computers&Accessories,₹199,₹349,4.0,43994.0,"Compatible with all Type C enabled devices, be...",https://m.media-amazon.com/images/W/WEBP_40237...,https://www.amazon.in/Ambrane-Unbreakable-Char...
2,2,B096MSW6CT,Sounce Fast Phone Charging Cable & Data Sync U...,Computers&Accessories,₹199,"₹1,899",3.9,7928.0,【 Fast Charger& Data Sync】-With built-in safet...,https://m.media-amazon.com/images/W/WEBP_40237...,https://www.amazon.in/Sounce-iPhone-Charging-C...
3,3,B08HDJ86NZ,boAt Deuce USB 300 2 in 1 Type-C & Micro USB S...,Computers&Accessories,₹329,₹699,4.2,94363.0,The boAt Deuce USB 300 2 in 1 cable is compati...,https://m.media-amazon.com/images/I/41V5FtEWPk...,https://www.amazon.in/Deuce-300-Resistant-Tang...
4,4,B08CF3B7N1,Portronics Konnect L 1.2M Fast Charging 3A 8 P...,Computers&Accessories,₹154,₹399,4.2,16905.0,[CHARGE & SYNC FUNCTION]- This cable comes wit...,https://m.media-amazon.com/images/W/WEBP_40237...,https://www.amazon.in/Portronics-Konnect-POR-1...

In [4]:
products["category"].unique()

array(['Computers&Accessories', 'Electronics', nan, 'MusicalInstruments',
       'OfficeProducts', 'Home&Kitchen', 'HomeImprovement', 'Toys&Games',
       'Car&Motorbike', 'Health&PersonalCare'], dtype=object)

In [5]:
products.drop("Unnamed: 0", axis=1, inplace=True)

In [6]:
# Product_id must be unique
products["product_id"].nunique()

1351

In [7]:
products.drop_duplicates(inplace=True)

In [8]:
products.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1467 entries, 0 to 1532
Data columns (total 10 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   product_id        1467 non-null   object
 1   product_name      1467 non-null   object
 2   category          1457 non-null   object
 3   discounted_price  1455 non-null   object
 4   actual_price      1459 non-null   object
 5   rating            1451 non-null   float64
 6   rating_count      1465 non-null   float64
 7   about_product     1467 non-null   object
 8   img_link          1467 non-null   object
 9   product_link      1467 non-null   object
dtypes: float64(2), object(8)
memory usage: 126.1+ KB

In [9]:
products["product_id"].value_counts()

product_id
B08WRWPM22    3
B09W5XR9RT    3
B077Z65HSD    3
B09NHVCHS9    3
B098NS6PVG    3
             ..
B07F6GXNPB    1
B0B97D658R    1
B09NFSHCWN    1
B076VQS87V    1
B0B2CWRDB1    1
Name: count, Length: 1351, dtype: int64

In [10]:
products[products["product_id"] == "B09W5XR9RT"]

,product_id,product_name,category,discounted_price,actual_price,rating,rating_count,about_product,img_link,product_link
28,B09W5XR9RT,Duracell USB C To Lightning Apple Certified (M...,Computers&Accessories,₹970,"₹1,999",4.4,184.0,1.2M Tangle Free durable tough braiding sync &...,https://m.media-amazon.com/images/W/WEBP_40237...,https://www.amazon.in/Duracell-Lightning-Certi...
504,B09W5XR9RT,Duracell USB C To Lightning Apple Certified (M...,Computers&Accessories,₹970,"₹1,999",4.4,184.0,1.2M Tangle Free durable tough braiding sync &...,https://m.media-amazon.com/images/I/4177nw8okb...,https://www.amazon.in/Duracell-Lightning-Certi...
784,B09W5XR9RT,Duracell USB C To Lightning Apple Certified (M...,Computers&Accessories,₹970,"₹1,999",4.4,184.0,1.2M Tangle Free durable tough braiding sync &...,https://m.media-amazon.com/images/I/4177nw8okb...,https://www.amazon.in/Duracell-Lightning-Certi...

In [11]:
# Drop all the duplicates based on product_id's
products.drop_duplicates(
    subset="product_id", inplace=True
)  # if there are multiple subset's we can pass as list of column names subset=['product_id', 'product_name']
products.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1351 entries, 0 to 1464
Data columns (total 10 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   product_id        1351 non-null   object
 1   product_name      1351 non-null   object
 2   category          1343 non-null   object
 3   discounted_price  1339 non-null   object
 4   actual_price      1343 non-null   object
 5   rating            1338 non-null   float64
 6   rating_count      1349 non-null   float64
 7   about_product     1351 non-null   object
 8   img_link          1351 non-null   object
 9   product_link      1351 non-null   object
dtypes: float64(2), object(8)
memory usage: 116.1+ KB

In [12]:
products["product_id"].nunique()

1351

In [13]:
# To see the columns
products.columns

Index(['product_id', 'product_name', 'category', 'discounted_price',
       'actual_price', 'rating', 'rating_count', 'about_product', 'img_link',
       'product_link'],
      dtype='object')

In [14]:
# Remove ₹ and , (comma) in actual_price. use str in string operation
products["actual_price"] = products["actual_price"].str[1:].str.replace(",", "").astype(float)
products["discounted_price"] = products["discounted_price"].str[1:].str.replace(",", "").astype(float)

In [15]:
products.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1351 entries, 0 to 1464
Data columns (total 10 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   product_id        1351 non-null   object
 1   product_name      1351 non-null   object
 2   category          1343 non-null   object
 3   discounted_price  1339 non-null   float64
 4   actual_price      1343 non-null   float64
 5   rating            1338 non-null   float64
 6   rating_count      1349 non-null   float64
 7   about_product     1351 non-null   object
 8   img_link          1351 non-null   object
 9   product_link      1351 non-null   object
dtypes: float64(4), object(6)
memory usage: 116.1+ KB

In [16]:
# Top 3 products by price
products.sort_values(by=["actual_price", "discounted_price"], ascending=False).head(3)

# products.sort_values(by=['actual_price', 'discounted_price'], ascending=[False, True]).head(3)

,product_id,product_name,category,discounted_price,actual_price,rating,rating_count,about_product,img_link,product_link
249,B09WN3SRC7,Sony Bravia 164 cm (65 inches) 4K Ultra HD Sma...,Electronics,77990.0,139900.0,4.7,5935.0,Resolution: 4K Ultra HD (3840 x 2160) | Refres...,https://m.media-amazon.com/images/I/51uVckL1jR...,https://www.amazon.in/Sony-Bravia-inches-Googl...
255,B0BC8BQ432,VU 164 cm (65 inches) The GloLED Series 4K Sma...,Electronics,54990.0,85000.0,4.3,3587.0,Resolution: 4K Ultra HD (3840x2160) | Refresh ...,https://m.media-amazon.com/images/W/WEBP_40237...,https://www.amazon.in/VU-inches-GloLED-Google-...
283,B0B3XXSB1K,LG 139 cm (55 inches) 4K Ultra HD Smart LED TV...,Electronics,47990.0,79990.0,4.3,1376.0,Resolution: 4K Ultra HD (3840x2160) | Refresh ...,https://m.media-amazon.com/images/W/WEBP_40237...,https://www.amazon.in/LG-inches-Ultra-55UQ7500...

In [17]:
# One way find mean, median and other statics of Dataset is to use products.describe().

# products["discounted_price"].agg(["mean", "median", "std", "min", "max"])
# products[["discounted_price", "actual_price"]].agg(["mean", "median", "std", "min", "max", "mode"])  # This code will fail for `mode` as mode will return a series instead of a number.
products[["discounted_price", "actual_price"]].agg(
    ["mean", "median", "std", "min", "max", lambda x: x.mode()[0]]
)  # This will give the result, but the name will be shown as <lambda>

          discounted_price   actual_price
mean           3295.008342    5715.186612
median          899.000000    1795.000000
std            7155.459908   11247.533172
min              39.000000      39.000000
max           77990.000000  139900.000000
<lambda>        299.000000     999.000000

In [18]:
products["actual_price"].median()

np.float64(1795.0)

In [19]:
def mode(x):
    return x.mode()[0]


products[["discounted_price", "actual_price", "rating"]].agg(["mean", "median", "std", "min", "max", mode])

        discounted_price   actual_price    rating
mean         3295.008342    5715.186612  4.092152
median        899.000000    1795.000000  4.100000
std          7155.459908   11247.533172  0.296688
min            39.000000      39.000000  2.000000
max         77990.000000  139900.000000  5.000000
mode          299.000000     999.000000  4.100000

In [20]:
orders = pd.read_csv(path.parent.joinpath("amazon-orders.csv"))
orders.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11503 entries, 0 to 11502
Data columns (total 6 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   user_id          11503 non-null  object
 1   review_id        11503 non-null  object
 2   review_title     11488 non-null  object
 3   review_content   11272 non-null  object
 4   product_id       11503 non-null  object
 5   order_timestamp  11503 non-null  object
dtypes: object(6)
memory usage: 539.3+ KB

In [21]:
orders.head()

,user_id,review_id,review_title,review_content,product_id,order_timestamp
0,user_86,R3HXWT0LRP0NMF,Satisfied,Looks durable Charging is fine tooNo complains,B07JW9H4J1,2023-01-01 00:00:00.000000000
1,user_138,R2AJM3LFTLZHFO,Charging is really fast,Charging is really fast,B07JW9H4J1,2023-01-01 00:00:00.000000000
2,user_47,R6AQJGUP6P86,Value for money,good product.,B07JW9H4J1,2023-01-01 00:00:00.000000000
3,user_100,R1KD19VHEDV0OR,Product review,Till now satisfied with the quality.,B07JW9H4J1,2023-01-01 00:00:00.000000000
4,user_129,R3C02RMYQMK6FC,Good quality,This is a good product . The charging speed is...,B07JW9H4J1,2023-01-01 00:00:00.000000000

In [22]:
orders["product_id"].nunique()

1351

In [23]:
products["product_id"].nunique()

1351

In [24]:
orders.columns

Index(['user_id', 'review_id', 'review_title', 'review_content', 'product_id',
       'order_timestamp'],
      dtype='object')

In [25]:
products.columns

Index(['product_id', 'product_name', 'category', 'discounted_price',
       'actual_price', 'rating', 'rating_count', 'about_product', 'img_link',
       'product_link'],
      dtype='object')

# Joins

In [26]:
data = orders.merge(products, how="left", on="product_id")

In [27]:
data.head()

,user_id,review_id,review_title,review_content,product_id,order_timestamp,product_name,category,discounted_price,actual_price,rating,rating_count,about_product,img_link,product_link
0,user_86,R3HXWT0LRP0NMF,Satisfied,Looks durable Charging is fine tooNo complains,B07JW9H4J1,2023-01-01 00:00:00.000000000,Wayona Nylon Braided USB to Lightning Fast Cha...,Computers&Accessories,399.0,1099.0,4.2,24269.0,High Compatibility : Compatible With iPhone 12...,https://m.media-amazon.com/images/W/WEBP_40237...,https://www.amazon.in/Wayona-Braided-WN3LG1-Sy...
1,user_138,R2AJM3LFTLZHFO,Charging is really fast,Charging is really fast,B07JW9H4J1,2023-01-01 00:00:00.000000000,Wayona Nylon Braided USB to Lightning Fast Cha...,Computers&Accessories,399.0,1099.0,4.2,24269.0,High Compatibility : Compatible With iPhone 12...,https://m.media-amazon.com/images/W/WEBP_40237...,https://www.amazon.in/Wayona-Braided-WN3LG1-Sy...
2,user_47,R6AQJGUP6P86,Value for money,good product.,B07JW9H4J1,2023-01-01 00:00:00.000000000,Wayona Nylon Braided USB to Lightning Fast Cha...,Computers&Accessories,399.0,1099.0,4.2,24269.0,High Compatibility : Compatible With iPhone 12...,https://m.media-amazon.com/images/W/WEBP_40237...,https://www.amazon.in/Wayona-Braided-WN3LG1-Sy...
3,user_100,R1KD19VHEDV0OR,Product review,Till now satisfied with the quality.,B07JW9H4J1,2023-01-01 00:00:00.000000000,Wayona Nylon Braided USB to Lightning Fast Cha...,Computers&Accessories,399.0,1099.0,4.2,24269.0,High Compatibility : Compatible With iPhone 12...,https://m.media-amazon.com/images/W/WEBP_40237...,https://www.amazon.in/Wayona-Braided-WN3LG1-Sy...
4,user_129,R3C02RMYQMK6FC,Good quality,This is a good product . The charging speed is...,B07JW9H4J1,2023-01-01 00:00:00.000000000,Wayona Nylon Braided USB to Lightning Fast Cha...,Computers&Accessories,399.0,1099.0,4.2,24269.0,High Compatibility : Compatible With iPhone 12...,https://m.media-amazon.com/images/W/WEBP_40237...,https://www.amazon.in/Wayona-Braided-WN3LG1-Sy...

In [28]:
data.columns

Index(['user_id', 'review_id', 'review_title', 'review_content', 'product_id',
       'order_timestamp', 'product_name', 'category', 'discounted_price',
       'actual_price', 'rating', 'rating_count', 'about_product', 'img_link',
       'product_link'],
      dtype='object')

In [29]:
# analyze reviews - price is related to reviews
data["review_length"] = data["review_content"].astype(str).apply(lambda x: len(x))

In [30]:
# Correlation, to what extent two variables are related. Greater than 0 positive corr, less than 0 negative correlation.
data[["review_length", "actual_price"]].corr()

               review_length  actual_price
review_length       1.000000      0.112904
actual_price        0.112904      1.000000

In [31]:
# let's use apply on more than one column

# Analyse discount percentage


def get_discount_per(row):
    return (row["actual_price"] - row["discounted_price"]) / row["actual_price"]


data["discount_per"] = data.apply(get_discount_per, axis=1)

In [32]:
data["discount_per"].head()

0    0.636943
1    0.636943
2    0.636943
3    0.636943
4    0.636943
Name: discount_per, dtype: float64

In [33]:
# Find nulls in all columns
data.apply(lambda x: x.isnull().sum(), axis=0)

user_id               0
review_id             0
review_title         15
review_content      231
product_id            0
order_timestamp       0
product_name          0
category             61
discounted_price    101
actual_price         64
rating               97
rating_count          2
about_product         0
img_link              0
product_link          0
review_length         0
discount_per        165
dtype: int64

In [34]:
# Find nulls in all rows
data.apply(lambda x: x.isnull().sum(), axis=1)

# data[data.apply(lambda x: x.isnull().sum(), axis=1) > 0]

0        0
1        0
2        0
3        0
4        0
        ..
11498    0
11499    0
11500    0
11501    0
11502    0
Length: 11503, dtype: int64

# Group by
<div style="text-align:center;">
  <img src="attachment:9cc56058-f41a-4d05-8498-6bae9a59c7c8.png" style="width:30%; height:auto;">
</div>

In [35]:
# user based statistics

user_stats = data.groupby("user_id")[["actual_price", "discounted_price", "rating", "discount_per"]].agg(
    ["mean", "median", "std", "min", "max", mode]
)
user_stats

         actual_price                                                \
                 mean  median           std    min      max    mode
user_id
user_1    6752.701299  1500.0  11964.663738  160.0  54990.0   999.0
user_10   6420.265060  2095.0  10658.851470  237.0  79990.0   499.0
user_100  4355.219211  1349.5  10452.008312  200.0  79990.0   999.0
user_101  4085.116883  1500.0   5742.628538  199.0  29999.0   999.0
user_102  3876.042857  1449.0   5791.501411   99.0  28999.0   999.0
...               ...     ...           ...    ...      ...     ...
user_95   4275.680286  1630.0   8261.962365   99.0  54990.0   999.0
user_96   4380.316456  1499.0   7713.472256   59.0  34999.0   999.0
user_97   5187.554217  1999.0   7323.250550   39.0  29999.0   999.0
user_98   4622.857143  1499.5   9869.048561  100.0  54990.0  1499.0
user_99   4370.909091  1300.0  10058.994174  299.0  65000.0   499.0

         discounted_price                               ...    rating       \
                     mean  median          std     min  ...       std  min
user_id                                                 ...
user_1        3620.758289   774.0  6944.900334  115.00  ...  0.225706  3.5
user_10       3536.718434  1055.0  6633.201573  129.00  ...  0.256611  3.3
user_100      2501.948052   600.0  6343.454967   39.00  ...  0.256265  3.3
user_101      2413.222237   779.0  4027.112765   57.89  ...  0.273749  3.0
user_102      2177.130435   649.0  4084.581197   96.00  ...  0.291028  2.9
...                   ...     ...          ...     ...  ...       ...  ...
user_95       2658.857143   998.5  5739.397346   89.00  ...  0.322798  2.9
user_96       2468.518987   849.0  4812.864100   59.00  ...  0.274136  2.8
user_97       3188.180723   998.0  5092.857639   39.00  ...  0.246481  3.5
user_98       2700.439821   534.0  6550.706112   90.00  ...  0.383923  2.3
user_99       2395.332857   599.0  6065.168407  115.00  ...  0.257927  3.4

                   discount_per                                         \
          max mode         mean    median       std      min       max
user_id
user_1    4.8  4.1     0.436467  0.450450  0.209108  0.00000  0.941188
user_10   4.7  4.1     0.466387  0.485236  0.210124  0.00000  0.910046
user_100  5.0  4.1     0.458744  0.487115  0.233184  0.00000  0.869565
user_101  4.6  4.1     0.484767  0.479228  0.206131  0.00000  0.895208
user_102  4.6  4.3     0.450630  0.478121  0.234847  0.00000  0.860861
...       ...  ...          ...       ...       ...      ...       ...
user_95   4.6  4.1     0.415279  0.416818  0.254411  0.00000  0.900901
user_96   4.5  4.3     0.419612  0.429119  0.215408  0.00000  0.900901
user_97   4.7  4.2     0.421488  0.450450  0.209465  0.00000  0.808298
user_98   4.5  4.1     0.518822  0.578277  0.223848  0.01875  0.941188
user_99   5.0  4.0     0.463272  0.473534  0.224342  0.05005  0.850851


              mode
user_id
user_1    0.000000
user_10   0.600300
user_100  0.000000
user_101  0.277793
user_102  0.000000
...            ...
user_95   0.000000
user_96   0.000000
user_97   0.000000
user_98   0.018750
user_99   0.125313

[150 rows x 24 columns]

In [36]:
user_stats.loc["user_1"]

actual_price      mean       6752.701299
                  median     1500.000000
                  std       11964.663738
                  min         160.000000
                  max       54990.000000
                  mode        999.000000
discounted_price  mean       3620.758289
                  median      774.000000
                  std        6944.900334
                  min         115.000000
                  max       32999.000000
                  mode        219.000000
rating            mean          4.146753
                  median        4.100000
                  std           0.225706
                  min           3.500000
                  max           4.800000
                  mode          4.100000
discount_per      mean          0.436467
                  median        0.450450
                  std           0.209108
                  min           0.000000
                  max           0.941188
                  mode          0.000000
Name: user_1, dtype: float64

In [37]:
# Apply conditions on grouped data

data.groupby("user_id")[["actual_price", "discounted_price", "rating", "discount_per"]].mean().loc[
    lambda x: x["rating"] > 4.1
]

          actual_price  discounted_price    rating  discount_per
user_id
user_1     6752.701299       3620.758289  4.146753      0.436467
user_100   4355.219211       2501.948052  4.137838      0.458744
user_101   4085.116883       2413.222237  4.135065      0.484767
user_102   3876.042857       2177.130435  4.102899      0.450630
user_103   5241.122222       3078.366667  4.115909      0.477599
...                ...               ...       ...           ...
user_92    5020.125000       2819.250000  4.123944      0.451126
user_93    5362.833333       3031.786667  4.108333      0.483611
user_96    4380.316456       2468.518987  4.143750      0.419612
user_97    5187.554217       3188.180723  4.126829      0.421488
user_99    4370.909091       2395.332857  4.152632      0.463272

[69 rows x 4 columns]

In [38]:
data.head()

,user_id,review_id,review_title,review_content,product_id,order_timestamp,product_name,category,discounted_price,actual_price,rating,rating_count,about_product,img_link,product_link,review_length,discount_per
0,user_86,R3HXWT0LRP0NMF,Satisfied,Looks durable Charging is fine tooNo complains,B07JW9H4J1,2023-01-01 00:00:00.000000000,Wayona Nylon Braided USB to Lightning Fast Cha...,Computers&Accessories,399.0,1099.0,4.2,24269.0,High Compatibility : Compatible With iPhone 12...,https://m.media-amazon.com/images/W/WEBP_40237...,https://www.amazon.in/Wayona-Braided-WN3LG1-Sy...,46,0.636943
1,user_138,R2AJM3LFTLZHFO,Charging is really fast,Charging is really fast,B07JW9H4J1,2023-01-01 00:00:00.000000000,Wayona Nylon Braided USB to Lightning Fast Cha...,Computers&Accessories,399.0,1099.0,4.2,24269.0,High Compatibility : Compatible With iPhone 12...,https://m.media-amazon.com/images/W/WEBP_40237...,https://www.amazon.in/Wayona-Braided-WN3LG1-Sy...,23,0.636943
2,user_47,R6AQJGUP6P86,Value for money,good product.,B07JW9H4J1,2023-01-01 00:00:00.000000000,Wayona Nylon Braided USB to Lightning Fast Cha...,Computers&Accessories,399.0,1099.0,4.2,24269.0,High Compatibility : Compatible With iPhone 12...,https://m.media-amazon.com/images/W/WEBP_40237...,https://www.amazon.in/Wayona-Braided-WN3LG1-Sy...,14,0.636943
3,user_100,R1KD19VHEDV0OR,Product review,Till now satisfied with the quality.,B07JW9H4J1,2023-01-01 00:00:00.000000000,Wayona Nylon Braided USB to Lightning Fast Cha...,Computers&Accessories,399.0,1099.0,4.2,24269.0,High Compatibility : Compatible With iPhone 12...,https://m.media-amazon.com/images/W/WEBP_40237...,https://www.amazon.in/Wayona-Braided-WN3LG1-Sy...,36,0.636943
4,user_129,R3C02RMYQMK6FC,Good quality,This is a good product . The charging speed is...,B07JW9H4J1,2023-01-01 00:00:00.000000000,Wayona Nylon Braided USB to Lightning Fast Cha...,Computers&Accessories,399.0,1099.0,4.2,24269.0,High Compatibility : Compatible With iPhone 12...,https://m.media-amazon.com/images/W/WEBP_40237...,https://www.amazon.in/Wayona-Braided-WN3LG1-Sy...,84,0.636943

In [39]:
# Add first two rows
data.apply(lambda x: x.loc[0] + x.loc[1], axis=0)

user_id                                               user_86user_138
review_id                                R3HXWT0LRP0NMFR2AJM3LFTLZHFO
review_title                         SatisfiedCharging is really fast
review_content      Looks durable Charging is fine tooNo complains...
product_id                                       B07JW9H4J1B07JW9H4J1
order_timestamp     2023-01-01 00:00:00.0000000002023-01-01 00:00:...
product_name        Wayona Nylon Braided USB to Lightning Fast Cha...
category                   Computers&AccessoriesComputers&Accessories
discounted_price                                                798.0
actual_price                                                   2198.0
rating                                                            8.4
rating_count                                                  48538.0
about_product       High Compatibility : Compatible With iPhone 12...
img_link            https://m.media-amazon.com/images/W/WEBP_40237...
product_link        https://www.amazon.in/Wayona-Braided-WN3LG1-Sy...
review_length                                                      69
discount_per                                                 1.273885
dtype: object

In [40]:
"""
Create a new column called "Review Information". If column review_content has
length greater than 20, it is considered a true review. Identify true reviews, and
assign "Truly good" if ratings > 4, "Truly bad" if ratings < 4. If none of the above is
true, return "Unsure". Hint:

if len(row['review_content'])>20 and row['rating'] > 4:
------- return "Truly Good"
"""


def review_info(x):
    length = len(str(x["review_content"]))
    if length > 20:
        if x["rating"] > 4:
            return "Truly good"
        elif x["rating"] < 4:
            return "Truly bad"
    return "Unsure"


data["Review Information"] = data.apply(review_info, axis=1)

In [41]:
data["Review Information"]

0        Truly good
1        Truly good
2            Unsure
3        Truly good
4        Truly good
            ...
11498        Unsure
11499    Truly good
11500        Unsure
11501    Truly good
11502    Truly good
Name: Review Information, Length: 11503, dtype: object

# Group By and apply

In [42]:
data.groupby("user_id").apply(lambda x: x["rating"].mean() * x["discounted_price"].mean())

C:\Users\Riyaz\AppData\Local\Temp\ipykernel_972\2922628873.py:1: FutureWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  data.groupby("user_id").apply(lambda x: x['rating'].mean() * x['discounted_price'].mean())

user_id
user_1      15014.391193
user_10     14392.718797
user_100    10352.655318
user_101     9978.830652
user_102     8932.545306
                ...
user_95     10851.219876
user_96     10228.925554
user_97     13157.077520
user_98     10956.784535
user_99      9946.934865
Length: 150, dtype: float64

In [43]:
"""
For every category, calculate the total discount % given so far across all products
sold in that category till date
"""
data.groupby("category")["discounted_price"].sum()

category
Car&Motorbike               18712.00
Computers&Accessories     2886795.96
Electronics              23105513.00
Health&PersonalCare          3596.00
Home&Kitchen              8015548.48
HomeImprovement              5392.00
MusicalInstruments          10208.00
OfficeProducts              74792.00
Toys&Games                   1200.00
Name: discounted_price, dtype: float64

In [44]:
# Get total discount percentage along with total discount and actual price


def get_price_info(x):
    actual_price_sum = x["actual_price"].sum()
    discount_price_sum = x["discounted_price"].sum()
    d = {
        "Total discount price": discount_price_sum,
        "Total actual price": actual_price_sum,
        "Total discount percentage": (actual_price_sum - discount_price_sum) / actual_price_sum,
    }
    return pd.Series(d)


data.groupby("category").apply(get_price_info)

C:\Users\Riyaz\AppData\Local\Temp\ipykernel_972\1853183230.py:12: FutureWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  data.groupby("category").apply(get_price_info)

,Total discount price,Total actual price,Total discount percentage
category,,,
Car&Motorbike,18712.00,32000.00,0.415250
Computers&Accessories,2886795.96,5846751.24,0.506256
Electronics,23105513.00,39812173.00,0.419637
Health&PersonalCare,3596.00,7600.00,0.526842
Home&Kitchen,8015548.48,14365654.00,0.442034
HomeImprovement,5392.00,12784.00,0.578223
MusicalInstruments,10208.00,21552.00,0.526355
OfficeProducts,74792.00,88144.00,0.151479
Toys&Games,1200.00,1200.00,0.000000

In [45]:
data.groupby(["category", "user_id"]).apply(get_price_info)

C:\Users\Riyaz\AppData\Local\Temp\ipykernel_972\1853183230.py:8: RuntimeWarning: divide by zero encountered in scalar divide
  "Total discount percentage": (actual_price_sum - discount_price_sum) / actual_price_sum,
C:\Users\Riyaz\AppData\Local\Temp\ipykernel_972\3367513170.py:1: FutureWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  data.groupby(["category", "user_id"]).apply(get_price_info)

                        Total discount price  Total actual price  \
category      user_id
Car&Motorbike user_134                2339.0              4000.0
              user_144                2339.0              4000.0
              user_37                 2339.0              4000.0
              user_44                 2339.0              4000.0
              user_49                 2339.0              4000.0
...                                      ...                 ...
Toys&Games    user_79                  150.0               150.0
              user_86                  150.0               150.0
              user_89                  150.0               150.0
              user_92                  150.0               150.0
              user_96                  150.0               150.0

                        Total discount percentage
category      user_id
Car&Motorbike user_134                    0.41525
              user_144                    0.41525
              user_37                     0.41525
              user_44                     0.41525
              user_49                     0.41525
...                                           ...
Toys&Games    user_79                     0.00000
              user_86                     0.00000
              user_89                     0.00000
              user_92                     0.00000
              user_96                     0.00000

[624 rows x 3 columns]

# Melting

Converting columns into rows

In [46]:
product_price_types = pd.read_csv(path.parent.joinpath("product_price_types.csv"))
product_price_types.drop("Unnamed: 0", axis=1, inplace=True)
product_price_types

      product_id  discounted_price  actual_price
0     B07JW9H4J1               NaN        1099.0
1     B098NS6PVG               NaN         349.0
2     B096MSW6CT               NaN        1899.0
3     B08HDJ86NZ               NaN         699.0
4     B08CF3B7N1               NaN         399.0
...          ...               ...           ...
1346  B08L7J3T31             379.0           NaN
1347  B01M6453MB               NaN        3045.0
1348  B009P2LIL4            2219.0           NaN
1349  B00J5DYCCA               NaN        1890.0
1350  B01486F4G6            2863.0           NaN

[1351 rows x 3 columns]

In [47]:
melted_df = pd.melt(
    product_price_types,
    id_vars=["product_id"],
    value_vars=["discounted_price", "actual_price"],
    var_name="price type",
    value_name="price",
)
melted_df.dropna(inplace=True)
melted_df

      product_id        price type   price
5     B08Y1TFSP6  discounted_price   149.0
10    B08CF3D7QR  discounted_price   154.0
12    B07KSMBL2H  discounted_price   219.0
13    B085DTN6R2  discounted_price   350.0
14    B09KLVMZ3B  discounted_price   159.0
...          ...               ...     ...
2693  B0B9JZW1SQ      actual_price  1200.0
2695  B07J9KXQCC      actual_price  2299.0
2696  B0B3JSWG81      actual_price   999.0
2698  B01M6453MB      actual_price  3045.0
2700  B00J5DYCCA      actual_price  1890.0

[1346 rows x 3 columns]

# Pivot
Convert rows to columns

In [48]:
pivot = pd.pivot(melted_df, index="product_id", columns="price type", values="price")
pivot

price type  actual_price  discounted_price
product_id
B002PD61Y4           NaN             507.0
B002SZEOLG           NaN             749.0
B003B00484         499.0               NaN
B003L62T7W         375.0               NaN
B004IO5BMQ           NaN             699.0
...                  ...               ...
B0BPCJM7TB           NaN             259.0
B0BPJBTB3F           NaN            1299.0
B0BQ3K23Y1         499.0               NaN
B0BQRJ3C47         999.0               NaN
B0BR4F878Q           NaN            1439.0

[1346 rows x 2 columns]

In [49]:
# Find relationship b/w discounted_price and rating using bins
data[["discounted_price", "rating"]]

       discounted_price  rating
0                 399.0     4.2
1                 399.0     4.2
2                 399.0     4.2
3                 399.0     4.2
4                 399.0     4.2
...                 ...     ...
11498            2863.0     4.3
11499            2863.0     4.3
11500            2863.0     4.3
11501            2863.0     4.3
11502            2863.0     4.3

[11503 rows x 2 columns]

# Binning

In [50]:
# Create bins
bins = [0, 500, 1000, 2000, 5000, np.inf]
labels = ["low", "medium", "high", "very high", "not affordable"]

data["price_bin"] = pd.cut(data["discounted_price"], bins=bins, labels=labels)
data[["price_bin", "rating"]]

       price_bin  rating
0            low     4.2
1            low     4.2
2            low     4.2
3            low     4.2
4            low     4.2
...          ...     ...
11498  very high     4.3
11499  very high     4.3
11500  very high     4.3
11501  very high     4.3
11502  very high     4.3

[11503 rows x 2 columns]

In [51]:
data.groupby("price_bin")[["rating"]].mean()

C:\Users\Riyaz\AppData\Local\Temp\ipykernel_972\1643480883.py:1: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  data.groupby('price_bin')[['rating']].mean()

                  rating
price_bin
low             4.076343
medium          4.124189
high            4.072719
very high       4.085012
not affordable  4.166968

# DateTime

In [52]:
data.info()
data["order_timestamp"] = pd.to_datetime(data["order_timestamp"])
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11503 entries, 0 to 11502
Data columns (total 19 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   user_id             11503 non-null  object
 1   review_id           11503 non-null  object
 2   review_title        11488 non-null  object
 3   review_content      11272 non-null  object
 4   product_id          11503 non-null  object
 5   order_timestamp     11503 non-null  object
 6   product_name        11503 non-null  object
 7   category            11442 non-null  object
 8   discounted_price    11402 non-null  float64
 9   actual_price        11439 non-null  float64
 10  rating              11406 non-null  float64
 11  rating_count        11501 non-null  float64
 12  about_product       11503 non-null  object
 13  img_link            11503 non-null  object
 14  product_link        11503 non-null  object
 15  review_length       11503 non-null  int64
 16  discount_per        11338 non-null  float64
 17  Review Information  11503 non-null  object
 18  price_bin           11402 non-null  category
dtypes: category(1), float64(5), int64(1), object(12)
memory usage: 1.6+ MB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11503 entries, 0 to 11502
Data columns (total 19 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   user_id             11503 non-null  object
 1   review_id           11503 non-null  object
 2   review_title        11488 non-null  object
 3   review_content      11272 non-null  object
 4   product_id          11503 non-null  object
 5   order_timestamp     11503 non-null  datetime64[ns]
 6   product_name        11503 non-null  object
 7   category            11442 non-null  object
 8   discounted_price    11402 non-null  float64
 9   actual_price        11439 non-null  float64
 10  rating              11406 non-null  float64
 11  rating_count        11501 non-null  float64
 12  about_product       11503 non-null  object
 13  img_link            11503 non-null  object
 14  product_link        11503 non-null  object
 15  review_length       11503 non-null  int64
 16  discount_per        11338 non-null  float64
 17  Review Information  11503 non-null  object
 18  price_bin           11402 non-null  category
dtypes: category(1), datetime64[ns](1), float64(5), int64(1), object(11)
memory usage: 1.6+ MB

In [53]:
data["order_year"] = data["order_timestamp"].dt.year
data["order_month"] = data["order_timestamp"].dt.month_name()

# dt.day_name()
# dt.month
data[["order_year", "order_month"]]

       order_year order_month
0            2023     January
1            2023     January
2            2023     January
3            2023     January
4            2023     January
...           ...         ...
11498        2023    December
11499        2023    December
11500        2023    December
11501        2023    December
11502        2023    December

[11503 rows x 2 columns]

In [54]:
# Check in which month there are lowest prices
data.groupby("order_month")[["discounted_price"]].mean().sort_values(by=["discounted_price"], ascending=False)

             discounted_price
order_month
March             6772.133248
April             5101.818613
January           4363.327149
February          3730.231632
May               3597.200627
November          2767.867610
December          2505.278600
October           2187.827803
September         1661.348469
August            1447.465851
June              1176.738753
July               846.282258

# Filtering

In [55]:
# Get discounted_prices greater than 1000 and rating less than 4
data[(data["discounted_price"] > 1000) & (data["rating"] < 4)].head()

,user_id,review_id,review_title,review_content,product_id,order_timestamp,product_name,category,discounted_price,actual_price,...,rating_count,about_product,img_link,product_link,review_length,discount_per,Review Information,price_bin,order_year,order_month
656,user_123,R3MHRRK05RD01A,Good in this price,Overall experience in this price is good.You c...,B08QX1CC14,2023-01-21 09:18:41.311475409,SKYWALL 81.28 cm (32 inches) HD Ready Smart LE...,Electronics,7299.0,19125.0,...,902.0,Resolution: Full HD (1920 x 1080) | Refresh Ra...,https://m.media-amazon.com/images/I/41M9BBMSUd...,https://www.amazon.in/Skywall-81-28-inches-Sma...,95,0.618353,Truly bad,not affordable,2023,January
657,user_6,R14A3U8XTK1D7X,Speakers and sound next level,but their app store has almost all apps,B08QX1CC14,2023-01-21 09:18:41.311475409,SKYWALL 81.28 cm (32 inches) HD Ready Smart LE...,Electronics,7299.0,19125.0,...,902.0,Resolution: Full HD (1920 x 1080) | Refresh Ra...,https://m.media-amazon.com/images/I/41M9BBMSUd...,https://www.amazon.in/Skywall-81-28-inches-Sma...,40,0.618353,Truly bad,not affordable,2023,January
658,user_8,R1F10MFQBXZA8W,Bad remote,which we uses on tv like Netflix,B08QX1CC14,2023-01-21 09:18:41.311475409,SKYWALL 81.28 cm (32 inches) HD Ready Smart LE...,Electronics,7299.0,19125.0,...,902.0,Resolution: Full HD (1920 x 1080) | Refresh Ra...,https://m.media-amazon.com/images/I/41M9BBMSUd...,https://www.amazon.in/Skywall-81-28-inches-Sma...,33,0.618353,Truly bad,not affordable,2023,January
659,user_96,RAT511FHTC8Q4,Remote problem,Prime,B08QX1CC14,2023-01-21 09:18:41.311475409,SKYWALL 81.28 cm (32 inches) HD Ready Smart LE...,Electronics,7299.0,19125.0,...,902.0,Resolution: Full HD (1920 x 1080) | Refresh Ra...,https://m.media-amazon.com/images/I/41M9BBMSUd...,https://www.amazon.in/Skywall-81-28-inches-Sma...,6,0.618353,Unsure,not affordable,2023,January
660,user_36,R11FM1DRG1FNOI,Good quality 👍,YouTube.We can't adjust brightness of tv.,B08QX1CC14,2023-01-21 09:18:41.311475409,SKYWALL 81.28 cm (32 inches) HD Ready Smart LE...,Electronics,7299.0,19125.0,...,902.0,Resolution: Full HD (1920 x 1080) | Refresh Ra...,https://m.media-amazon.com/images/I/41M9BBMSUd...,https://www.amazon.in/Skywall-81-28-inches-Sma...,42,0.618353,Truly bad,not affordable,2023,January

In [56]:
# Drop null values based on a specific column
product_price_types

      product_id  discounted_price  actual_price
0     B07JW9H4J1               NaN        1099.0
1     B098NS6PVG               NaN         349.0
2     B096MSW6CT               NaN        1899.0
3     B08HDJ86NZ               NaN         699.0
4     B08CF3B7N1               NaN         399.0
...          ...               ...           ...
1346  B08L7J3T31             379.0           NaN
1347  B01M6453MB               NaN        3045.0
1348  B009P2LIL4            2219.0           NaN
1349  B00J5DYCCA               NaN        1890.0
1350  B01486F4G6            2863.0           NaN

[1351 rows x 3 columns]

In [57]:
product_price_types.dropna(subset=["actual_price"])

      product_id  discounted_price  actual_price
0     B07JW9H4J1               NaN        1099.0
1     B098NS6PVG               NaN         349.0
2     B096MSW6CT               NaN        1899.0
3     B08HDJ86NZ               NaN         699.0
4     B08CF3B7N1               NaN         399.0
...          ...               ...           ...
1342  B0B9JZW1SQ               NaN        1200.0
1344  B07J9KXQCC               NaN        2299.0
1345  B0B3JSWG81               NaN         999.0
1347  B01M6453MB               NaN        3045.0
1349  B00J5DYCCA               NaN        1890.0

[651 rows x 3 columns]